openapi: 3.1.0
info:
  title: Sage Accounting Bank Accounts Tax Rates API
  description: 'Sage Accounting API (v3.1) is a RESTful web service that connects software to Sage''s cloud accounting platform. Supports Sage Business Cloud Accounting and Sage Business Cloud Start products. Covers contacts, sales and purchase invoices, payments, bank accounts, ledger accounts, products/services, and financial reporting. Uses OAuth 2.0 for authentication. Rate limits apply: 1,296,000 daily requests, 150 concurrent, 100 per minute per company.'
  version: 3.1.0
  contact:
    name: Sage Developer Support
    url: https://developer.sage.com/support/
  license:
    name: Sage Developer Agreement
    url: https://developer.sage.com/
servers:
- url: https://api.accounting.sage.com/v3.1
  description: Sage Accounting API v3.1
security:
- OAuth2: []
tags:
- name: Tax Rates
  description: Tax rate configuration
paths:
  /tax_rates:
    get:
      operationId: listTaxRates
      summary: List Tax Rates
      description: Returns configured tax rates for the business.
      tags:
      - Tax Rates
      responses:
        '200':
          description: Tax rate list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateList'
components:
  schemas:
    TaxRate:
      type: object
      properties:
        id:
          type: string
        displayed_as:
          type: string
        name:
          type: string
        percentage:
          type: number
        is_combined_tax_rate:
          type: boolean
    TaxRateList:
      type: object
      properties:
        $items:
          type: array
          items:
            $ref: '#/components/schemas/TaxRate'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.sageone.com/oauth2/auth
          tokenUrl: https://oauth.accounting.sage.com/token
          scopes:
            full_access: Full read/write access to all accounting data
            readonly: Read-only access to accounting data
